/*
    Extras... FONTS ICONS, ETC
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
    WORLD!
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  position: absolute;
  top: 4.2%;
  left: 10%;
  width: 89.6%;
  height: 95%;
}

 /*
 
 */