/*
    Extras... FONTS ICONS, ETC
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
    WORLD!
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  position: absolute;
  top: 4.2%;
  left: 10%;
  width: 89.6%;
  height: 94%;
}


/*
    sadot.component.html
 */

    .header {
        position: absolute;
        left: 20%;
        top: 10%;
        font-size: 55px;
    }
    .bod h3 {
        position: absolute;
        left: 10%;
        top: 15%;
        font-size: 40px;
    }

    .bod ul {
        position: absolute;
        left: 13%;
        top: 24%;
        font-size: 36px;
    }

/*
    </ sadot.component.html
 */
