<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="left-bar">
    <h1 class="header">SOCIAL</h1>
    <a href="https://github.com/SadotCorts" target="_blank" class= "github" ><i class="fa fa-github"></i></a>
    <a href="https://facebook.com/SadotCorts" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="mailto:sadotcortes@scoorm.me" class="mail"><i class="fa fa-envelope"></i></a>
  </div>
</body>

</html>
