/*
    Extras... FONTS ICONS, ETC
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
    WORLD!
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
}



/*
    END-WORLD
*/


/*
    nav-bar.component.html
*/

.navbar {
  position: absolute;
  background-color: #FF9800;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5%;
  border-left: 2px solid black;
}

.noth {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 9.8999%;
  border-top: 2px solid black;
}

#develop {
  position: absolute;
  color: black;
  font-size: 25px;
  top: 20%;
  left: 5%;
}

#develop:hover {
  transform: rotate(90deg);
}

.name {
  position: relative;
  text-decoration: none;
  color: black;
  top: 28%;
  left: 10%;
  width: 14.5%;
  height: 15%;
  border-bottom: 2px solid black;
  margin-left: 1%;
}

.name:hover {
  border: none;
}

.about {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28%;
  left: 25%;
  border-bottom: 2px solid black;
  margin-left: 1%;
}

.contact {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 28%;
  left: 30%;
  border-bottom: 2px solid black;
  margin-left: 1%;
}

.about:hover {
  border: none;
}

.contact:hover {
  border: none;
}


/*
    </ nav-bar.component.html
*/
