<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar">
    <div class="noth"></div>
    <i id="develop" class="fa fa-connectdevelop" aria-hidden="true"></i>
    <a routerLink="/sadot" class="name">Sadot Maximiliano Cortés Márquez</a>
    <a routerLink="/about" class="about">About</a>
    <a routerLink="/contact" class="contact">Contact</a>
  </div>
</body>

</html>
