<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 class="header">ABOUT <br> <span>ME!</span></h1>
  <img src="https://avatars2.githubusercontent.com/u/11858725?v=3&u=002c320dbfd2811ea22e94b76237631a478c32c5&s=400" alt=""
    class="photo">
    <p class="about">Chicharrones sustainable pickled chillwave. Pitchfork tattooed kogi pour-over, heirloom street art distillery. Hexagon
      synth ramps scenester vegan, blog stumptown DIY edison bulb put a bird on it salvia. Post-ironic prism woke, squid
      quinoa umami iPhone ugh shabby chic master cleanse trust fund. Kickstarter meditation bushwick, skateboard cornhole
      ramps put a bird on it pok pok drinking vinegar vaporware semiotics. Lumbersexual vape four dollar toast brooklyn.
      Small batch lo-fi 3 wolf moon street art swag master cleanse, VHS hot chicken put a bird on it poutine migas plaid.</p>
    <p class="about2">
      Man braid celiac synth twee, ennui pork belly butcher jean shorts try-hard you probably haven't heard of them air plant crucifix.
      Meggings blue bottle meditation, gluten-free tofu roof party vexillologist tacos succulents sustainable hammock 3 wolf
      moon synth. Venmo pop-up vape, kale chips letterpress banh mi hot chicken. Messenger bag austin waistcoat brunch fashion
      axe. Freegan lo-fi godard fashion axe stumptown tumeric. Pabst crucifix whatever master cleanse, occupy poutine umami
      plaid narwhal 8-bit chia truffaut. Bespoke snackwave post-ironic, direct trade pork belly hell of hexagon.
    </p>
</body>

</html>
