<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <base href="/sadot" target="">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="bod">
    <h1 class="header">AHOY!</h1>
    <h3>Skills :</h3>
    <ul class="bio">
      <li>Cardigan leggings helvetica offal hell of, wolf green juice. Sustainable literally enamel pin intelligentsia keffiyeh.</li>
      <li>Lyft, Neutra franzen jean shorts forage ethical gluten-free quinoa, humblebrag vaporware lomo keffiyeh. Deep v brooklyn.</li>
      <li>Occupy, microdosing next level schlitz whatever artisan ugh roof party glossier swag vegan. Cornhole ugh try-hard.</li>
      <li>Pinterest vape lumbersexual cliche pabst enamel pin wayfarers deep v stumptown meggings yuccie street art. Affogato.</li>
      <li>Umami mustache, poke enamel pin tousled biodiesel four loko truffaut. Hella vegan lo-fi cardigan man braid, swag sustainable.</li>
    </ul>
  </div>
</body>

</html>
